@use './variables.scss' as vars;

:root {
  --color-primary: #{vars.$color-primary};
  --color-danger: #{vars.$color-danger};
  --font-base: #{vars.$font-base};

  --color-background: #{vars.$color-bg-light};
  --color-text: #{vars.$color-text-light};
  --color-modal-bg: #{vars.$color-modal-bg-light};
}

[data-theme='dark'] {
  --color-background: #{vars.$color-bg-dark};
  --color-text: #{vars.$color-text-dark};
  --color-modal-bg: #{vars.$color-modal-bg-dark};
}