// font
$font-base: 'Inter', sans-serif;

// colors
$color-primary: #1d572e;
    // --- light mode ---
$color-danger-light: #ff1000;
$color-bg-light: #ffffff;
$color-text-light: #1a1a1a;
$color-modal-bg-light: #ffffff;
    // --- dark mode ---
$color-danger-dark: #ff4d4f; //d93025
$color-bg-dark: #121212;
$color-text-dark: #e0e0e0;
$color-modal-bg-dark: #2e2e2e;

// Spacing
$input-height-sm: 2rem;
$input-height-md: 2.5rem;
$input-height-lg: 3rem;

// Font sizes
$font-size-sm: 0.875rem; // ~14px
$font-size-md: 1rem;     // ~16px
$font-size-lg: 1.125rem; // ~18px